extends layout

block content
  h1 Winterplace Park Ultimate
  br
  p.lead
    h2 Who's playing?
    br
    .row
      .col-xs-12
        ul.list-group
          for user in profiles
            .list-group-item
                .col-xs-6
                  h4.username= user.profile.name
                .col-xs-6
                  .pull-right
                    button.btn.btn-default.btn-circle.btn-lg(type='button')
                      i.fa.fa-thumbs-o-up
                    button.btn.btn-default.btn-circle.btn-lg(type='button')
                      i.fa.fa-thumbs-o-down
                .clearfix
   //form(method='POST' action='/notify')
      //.form-group
        //button.btn.btn-primary(type='submit')
          //i.fa.fa-unlock-alt
          //| Notify


