<div class="col-xs-6" id="player">
  <h4 id="username"><%= name %></h4>
</div>
<div class="col-xs-6" id="player-status">
  <div class="pull-right">
    <button type="button" data-toggle="button" class="btn btn-default btn-circle btn-lg <%= playing ? 'active' : '' %>">
      <i class="fa fa-thumbs-o-up fa-lg"></i>
    </button>
  </div>
</div>
<div class="clearfix"></div>